logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store

bower_components
node_modules

conf/local.conf

/public/javascripts/vendors
/public/javascripts/app.*.min.js
/public/stylesheets/fonts/vendors
/public/stylesheets/less/vendors
/public/stylesheets/main.*.min.css
/public/stylesheets/main.css