//
// Variables
// --------------------------------------------------

// Global
// -------------------------

@container:							1000px;

// Brand colors
// -------------------------

// Colors
@main-color: 						#2eb37b;
@main-color-2: 						#269969;

// Red colors
@red-color:             			#b23e3e;
@red-color-2:             			#9e2828;

// Backgrounds
@bg-main:							#ebf0ef;

// Typography
// -------------------------

@font-family-base:					'Open Sans', Helvetica, sans-serif;
@font-family-serif:					'PT Serif', serif;

@font-size-base:          			1rem;
@line-height-base: 					1.375rem;