@()

@import play.api.Play
@import play.api.Play.current
@import utils.Configuration

@defining(Configuration(Play.application.configuration)) { conf =>

<!DOCTYPE html>

<html class="no-js" data-ng-app="devil">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Devil</title>
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="@routes.Assets.at("javascripts/vendors/modernizr/modernizr.js")" type="text/javascript"></script>
  </head>
  <body>
    <div ui-view></div>

    @if(Play.isProd) {
      <script src="@routes.Assets.at("javascripts/" + conf.scriptName + "." + conf.version + ".min.js")" type="text/javascript"></script>
    } else {
      <script src="@routes.Assets.at("javascripts/vendors/jquery/jquery.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("javascripts/vendors/lodash/lodash.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("javascripts/vendors/angular/angular.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("javascripts/vendors/angular-ui/router/angular-ui-router.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("javascripts/vendors/angular-ui/utils/ui-utils.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("javascripts/vendors/restangular/restangular.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>

      <script src="http://localhost:35729/livereload.js?snipver=1" type="text/javascript"></script>
    }
  </body>
</html>

}
