@()

<div class="position">
	<div class="form-group">
		<form class="inputs left">
			<input type="text" placeholder="X position" ng-model="position.x">
			<input type="text" placeholder="Y position" ng-model="position.y">
		</form>

		<a class="btn-a" ng-click="move()">Move</a>
		<a class="btn-a second-btn" ng-click="reset()">Reset</a>
	</div>

	<div class="fire-btn right" ng-click="fire()">
		<div class="outer">
			<div class="inner">
				<div class="inner-text">FIRE</div>
			</div>
		</div>
	</div>
</div>